.footer {
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 20px;
}

.header {
    background-color: lightcoral;
    display: flex;
}

.title {
    font-size: 20px;
    color: brown;
}